<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var inputdata1 = [];
        var inputdata2 = [];
        var inputdata3 = [];

        $(document).ready(function(){
            $.ajax({
                url: "/bubble_post",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(null),
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        inputdata1.push( [data[i].word, data[i].totalWeight,data[i].totalCommentCount,data[i].totalEmotionWeight,data[i].counts]);
                    }

                }
            })

            $.ajax({
                url: "/sankey_minor_post",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(null),
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        inputdata2.push( [ data[i].source, data[i].destination, data[i].value ] );
                    }
                }
            })
            $.ajax({
                url: "/sankey_sports_post",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(null),
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        inputdata3.push( [ data[i].source, data[i].destination, data[i].value ] );
                    }

                    google.charts.load('current', {'packages':['sankey']});
                    google.charts.load("current", {packages: ["corechart"]});
                    google.charts.setOnLoadCallback(drawChart1);
                  //  google.charts.setOnLoadCallback(drawChart2);
                }
            })
        });


        function drawChart1() {
           /* var data = google.visualization.arrayToDataTable([
                ['ID', 'Life Expectancy', 'Fertility Rate', 'Region',     'Population'],
                ['CAN',    80.66,              1.67,      'North America',  33739900],
                ['DEU',    79.84,              1.36,      'Europe',         81902307],
                ['DNK',    78.6,               1.84,      'Europe',         5523095],
                ['EGY',    72.73,              2.78,      'Middle East',    79716203],
                ['GBR',    80.05,              2,         'Europe',         61801570],
                ['IRN',    72.49,              1.7,       'Middle East',    73137148],
                ['IRQ',    68.09,              4.77,      'Middle East',    31090763],
                ['ISR',    81.55,              2.96,      'Middle East',    7485600],
                ['RUS',    68.6,               1.54,      'Europe',         141850000],
                ['USA',    78.09,              2.05,      'North America',  307007000]
            ]);*/
            var data = google.visualization.arrayToDataTable();
            data.addColumn('string', 'Keyword');//key
            data.addColumn('number', 'totalweight');//totalweight
            data.addColumn('number', 'commentcount');//commentcount
            data.addColumn('string', 'reactioninformation');//reactioninformation
            data.addColumn('number', 'count');//count(기사수)

            data.addRows(inputdata1);
            var options = {
                title: 'Correlation between life expectancy, fertility rate ' +
                'and population of some world countries (2010)',
                hAxis: {title: 'Life Expectancy'},
                vAxis: {title: 'Fertility Rate'},
                bubble: {textStyle: {fontSize: 11}}
            };

            var chart = new google.visualization.BubbleChart(document.getElementById('bubble'));
            chart.draw(data, options);
        }

        function drawChart2() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'From');
            data.addColumn('string', 'To');
            data.addColumn('number', 'Weight');
            data.addRows(inputdata2);

            var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
                '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];

            // Sets chart options.
            var options = {
                width: 400,
                height: 400,
                sankey: {
                    node: {
                        colors: colors
                    },
                    link: {
                        colorMode: 'gradient',
                        colors: colors
                    }
                }
            };

            // Instantiates and draws our chart, passing in some options.
            var chart = new google.visualization.Sankey(document.getElementById('sankey_minor'));
            chart.draw(data, options);
        }
        function drawChart3() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'From');
            data.addColumn('string', 'To');
            data.addColumn('number', 'Weight');
            data.addRows(inputdata3);

            var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
                '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];

            // Sets chart options.
            var options = {
                width: 400,
                height: 400,
                sankey: {
                    node: {
                        colors: colors
                    },
                    link: {
                        colorMode: 'gradient',
                        colors: colors
                    }
                }
            };

            // Instantiates and draws our chart, passing in some options.
            var chart = new google.visualization.Sankey(document.getElementById('sankey_sports'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
메이져 언론사
<div class="layer" id="bubble" style="width: 100%; height: 100%;"></div>
<br>마이너 언론사
<div class="layer" id="sankey_minor" style="width: 100%; height: 100%;"></div>
<br>스포츠
<div class="layer" id="sankey_sports" style="width: 100%; height: 100%;"></div>

</body>
</html>