<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var inputdata1 = [];

        google.charts.load("current", {packages: ["corechart"]});


        $(document).ready(function(){
            $.ajax({
                url: "/bubble_post",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(null),
                success: function(data) {
                        inputdata1.push(['word','totalweight','totalcomment','totalemotionweight','counts']);
                    for (var i = 0; i < data.length; i++) {
                        inputdata1.push( [data[i].word, data[i].totalWeight,data[i].totalcommentCount,data[i].totalEmotionWeight,data[i].counts]);
                          console.log([data[i].word+data[i].totalWeight+" "+data[i].totalcommentCount+" "+data[i].totalEmotionWeight+" "+data[i].counts]);
                    }
                    var timeout1 = setInterval(function () {
                        if (google.visualization !== undefined) {
                            google.charts.setOnLoadCallback(drawChart1);
                            clearInterval(timeout1);
                        }
                    }, 300);
                        console.log(JSON.stringify(inputdata1));

                }
            })
        });

        function drawChart1() {
            console.log(JSON.stringify(inputdata1));
            var data = google.visualization.arrayToDataTable(inputdata1);

            var options = {
                title: 'bubble chart',
                hAxis: {title: 'Total weight'},
                vAxis: {title: 'Commentcount'},
                colorAxis: {colors: ['yellow', 'red']},////////////////

                bubble: {textStyle: {fontSize: 11}}
            };

            var chart = new google.visualization.BubbleChart(document.getElementById('bubble'));
            chart.draw(data, options);
        }

    </script>
</head>
<body>
메이져 언론사
<div class="layer" id="bubble" style="width: 700px; height: 700px;"></div>


</body>
</html>