<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>기사목록</h2>
<table border="1">
    <thead>
    <tr>
        <th>날짜</th>
        <th>제목</th>
        <th>언론사</th>
    </tr>
    </thead>
    <tbody id="list">

    </tbody>
</table>
<script type="text/javascript">

    temp = location.href.split("?");
    data = temp[1].split(",");
    var id = [];
    id = data;

    //html이 로딩되고 실행
    $(document).ready(function(){
        var data = null;

        $.ajax({
            url: "/analysisSearchNewsList",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(id),
            success: function(result) {
                for (var i = 0; i < result.length; i++) {
                    document.getElementById("list").innerHTML += "<tr><td>"+result[i].date+"</td>" +
                        "<td><a href="+result[i].url+">"+result[i].title+"</a></td>" +
                        "<td>"+result[i].company+"</td></tr>";
                }
            },
            error : function () {
                alert("fail");
            }
        })
    });

</script>
</body>
</html>