<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var inputdata = [];

        $(document).ready(function(){
            $.ajax({
                url: "/sankey_post",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(null),
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        inputdata.push( [ data[i].source, data[i].destination, data[i].value ] );
                    }

                    google.charts.load('current', {'packages':['sankey']});
                    google.charts.setOnLoadCallback(drawChart);

                }
            })
        });


        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'From');
            data.addColumn('string', 'To');
            data.addColumn('number', 'Weight');
            data.addRows(inputdata);

            var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
                '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];

            // Sets chart options.
            var options = {
                width: 1280,
                height: 1980,
                sankey: {
                    node: {
                        colors: colors
                    },
                    link: {
                        colorMode: 'gradient',
                        colors: colors
                    }
                }
            };

            // Instantiates and draws our chart, passing in some options.
            var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>

<div class="layer" id="sankey_basic" style="width: 100%; height: 100%;"></div>

</body>
</html>